<% if current_user %>
<div id="events_calendar">
	<%= render partial: "/layouts/calendar", locals: {events: @events} %>
</div>
<%= render partial: "/layouts/graph" %>
<%= render partial: '/galleries/gallery' %>
<%= render partial: "/layouts/search" %>
<div id="posts">
	<%= render partial: "/posts/index" %>
</div>
<%= will_paginate @posts %>
<% else %>
<%= render partial: "/layouts/slider" %>
<% end %>