<% @posts.each do |post| %>
<div class="panel panel-default text-left" id="post_<%= post.id %>">
	<div class="panel-heading">
		<%= image_tag(post.user.avatar.url, class: 'comment-logo') %>
		<%= user_profile_path(post.user) %>
		<%= (current_user and post.user_id == current_user.id) ? (link_to "<i class='fa fa-times-circle fa-lg'></i>".html_safe, post_path(post), method: :delete, class: "pull-right", data: {confirm: "Are you sure"}, remote: true) : "" %>
	</div>
	<div class="panel-body">
		<div class="row <%= cycle('even', 'odd') %>">
			<div class="col-sm-12">	  
				<p><%= post.body.html_safe %></p>
			</div>
		</div>
	</div>
	<hr />
	<ul role="menu">
		<div class="notifications-wrapper" id="comments_<%= post.id %>">
			<%= render partial: '/comments/comment', locals: {comments: post.comments} %>
		</div>
	</ul>
	<%= post.user_id != current_user.id ? (render partial: '/comments/form', locals: {post: post}) : '' %>	
</div>
<% end %>