<% @posts.each do |post| %>
<div class="panel panel-default text-left" id="post_<%= post.id %>">
	<div class="panel-heading">
		<%= post.user.username %>
		<%= current_user ? (link_to "<i class='fa fa-times-circle fa-lg'></i>".html_safe, post_path(post), method: :delete, class: "pull-right", data: {confirm: "Are you sure"}, remote: true) : "" %>
	</div>
	<div class="panel-body">
		<div class="row <%= cycle('even', 'odd') %>">
			<div class="col-sm-12">	  
				<p><%= post.body.html_safe %></p>
			</div>
		</div>
	</div>
</div>
<% end %>