<div id="success"></div>
<% if @posts.present? %>
<% @posts.each do |post| %>
<div class="panel panel-default text-left">
	<div class="panel-heading">
		<%= image_tag post.user.avatar.url, class: "search-logo" %>
		<%= post.user.username %>
		<%= current_user ? (link_to "remove".html_safe, post_path(post), class: 'btn btn-danger btn-xs pull-right', id: "close_btn", method: :delete, data: {confirm: "Are you sure"}, remote: true) : "" %>
	</div>
	<div class="panel-body">
		<div class="row <%= cycle('even', 'odd') %>">
			<div class="col-sm-12">	  
				<p><%= post.body.html_safe %></p>
			</div>
		</div>
	</div>
</div>
<% end %>
<% else %>
<p>No Posts </p>
<% end %>