<div id="success"></div>
<% if @posts.present? %>
<% @posts.each do |post| %>
<div class="panel panel-default text-left">
	<div class="panel-heading">
		<%= image_tag post.user.avatar.url, class: "search-logo" %>
		<%= post.user.username %>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
				</a>
				<ul class="dropdown-menu">
					<li><%= current_user ? (link_to "remove".html_safe, post_path(post), method: :delete, data: {confirm: "Are you sure"}, remote: true) : "" %></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="panel-body">
		<div class="row <%= cycle('even', 'odd') %>">
			<div class="col-sm-12">	  
				<p><%= post.body.html_safe %></p>
			</div>
		</div>
	</div>
</div>
<% end %>
<% else %>
<p>No Posts </p>
<% end %>