 <div class="col-sm-3">
   <div class="panel panel-default text-center user-details" style="background: <%= current_user.color %>">
    <div class="panel-heading">
      Profile
    </div>
    <div class="panel-body interests">
      <div class="user-photo">
        <%= user_photo(current_user) %>
      </div>
      <p>
        <span class="label label-success username"><%= current_user.username %></span>
        <span class="label label-primary useremail"><%= current_user.email %></span>
        <span class="label label-warning address"><%= current_user.city.present? ? (current_user.address + ', ' + current_user.city + ', ' + @current_user.state + ', ' + current_user.country) : '' %></span>
      </p>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item text-muted">
      Activity
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong class="">Posts</strong></span>
      <span class="label label-success user-posts"><%= current_user.posts.count %></span>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong class="">Orders</strong></span>
      <span class="label label-default"> <%= @orders.count %> </span>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong class="">Likes</strong></span>
      <span class="label label-primary"> 20 </span>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong class="">Followers</strong></span>
      <span class="label label-danger"> <%= current_user.received_requests.count %></span>
    </li>
  </ul> 
  <div class="panel panel-default text-center">
    <div class="panel-heading">
      New Intrests
    </div>
    <div class="panel-body">
      <div id="intrest_notification"></div>
      <%= form_for @intrest, remote: true do |f| %>      
      <div class="input-group">
        <%= f.text_field :name, class: 'form-control primary', autocomplete: "off", placeholder: "Interests", required: true %>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Intrest</button>
        </span>
      </div>
      <% end %>
      <hr />
      <div id="intrests" class="interests">
        <%= render partial: "/intrests/index" %>
      </div>
    </div>  
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Social Media</div>
    <div class="panel-body">
      <i class="fa fa-facebook fa-2x"></i> 
      <i class="fa fa-github fa-2x"></i> 
      <i class="fa fa-twitter fa-2x"></i>
      <i class="fa fa-pinterest fa-2x"></i> 
      <i class="fa fa-google-plus fa-2x"></i>
    </div>
  </div>
</div>