 <div class="col-sm-3">
   <div class="panel panel-default text-center">
    <div class="panel-heading">
      Profile
    </div>
    <div class="panel-body interests">
      <div class="user-photo">
        <%= user_photo(current_user) %>
      </div>
      <p>
        <span class="label label-success username"><%= current_user.username %></span>
        <span class="label label-primary useremail"><%= current_user.email %></span>
      </p>
    </div>
  </div>
  <div class="panel panel-default text-center">
    <div class="panel-heading">
      New Intrests
    </div>
    <div class="panel-body">
      <div id="intrest_notification"></div>
      <%= form_for @intrest, remote: true do |f| %>      
      <div class="input-group">
        <%= f.text_field :name, class: 'form-control primary', autocomplete: "off", placeholder: "Interests", required: true %>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Intrest</button>
        </span>
      </div>
      <% end %>
    </div>
  </div>
  <div class="panel panel-default text-center">
    <div class="panel-heading">
      Intrests
    </div>
    <div class="panel-body interests">
      <div id="intrests">
        <%= render partial: "/intrests/index" %>
      </div>
    </div>  
  </div>
</div>