<div class="col-sm-3">
	<div class="panel panel-default text-center">
		<div class="panel-heading">
			New Advatage
		</div>
		<div class="panel-body">
			<div id="intrest_notification"></div>
			<%= form_for @ad, remote: true do |f| %>      
			<div class="input-group">
				<label class="btn btn-default">
					Browse Ads Image
					<%= f.file_field :image, required: true %>
				</label>
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">Advatage</button>
				</span>
			</div>
			<% end %>
		</div>
	</div>
	<div id="ads">
		<%= render partial: "/ads/index" %>
	</div>	
	<div class="panel panel-default text-center">
		<div class="panel-heading">
			Online Users
		</div>
		<div class="panel-body">
			<ul>
				<% @users.each do |user| %>
				<li><i class="fa fa-dot-circle-o fa-lg <%= user.online == true ? 'active' : '' %>"></i> <%= link_to user.username, conversations_path(user_id: user), remote: true, method: :post %></li>
				<% end %>
			</ul>
		</div> 
	</div>
</div>