<div class="row">
  <div class="col-sm-12 post-form">
    <div class="panel panel-default text-left">
      <div class="panel-heading">
        Post
      </div>
      <div class="panel-body">
        <div id="post_notification"></div>
        <%= tinymce %>
        <%= form_for @post, remote: true do |f| %>
        <%= render partial: "/layouts/errors", locals: {resource: @post} %>
        <fieldset>
          <div class="form-group">
            <%= f.text_area :body, class: 'tinymce form-control', rows: 10, cols: 30 %>
          </div>
          <div class="form-group">
            <%= f.button "POST", class: 'btn btn-default', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> POST"} %>
          </div>
        </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>