<% @products = Product.all %>
<% if @products.present? %>
<div class="text-left"> 
	<% @products.each do |product| %>
	<div class="col-lg-3 product-box">
		<div class="card">
			<%= link_to image_tag(product.logos.first.logo.url, class: "card-img-top"), product_path(product), remote: true %>
			<div class="card-body">
				<h5 class="card-title">
					<%= product.title %>
					<span class="pull-right">
						<%= number_to_currency(product.price) %>
					</span>
				</h5>
			</div>
			<div class="card-footer">
			<%= form_tag add_to_cart_product_path(product), method: :get, remote: true do %>     
				<div class="input-group">
					<%= number_field_tag :quantity,'', min: 1, max: 20, class: 'form-control primary', autocomplete: "off", placeholder: "Qty", required: true %>
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit">Add to Cart</button>
					</span>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>	
</div>
<% end %>