<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Gprs" %></title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= tinymce_assets %>
  <%= stylesheet_link_tag "application", :media => "all" %>   
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div class="stickey-icons">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="#" class="google"><i class="fa fa-google"></i></a> 
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
  </div>
  <%= render partial: "/layouts/header" %>

  <div class="container text-center">
    <div class="jumbotron"></div>    
    <div class="row">
      <%= render partial: "/layouts/left_side" %>
      <div class="col-sm-6">
        <div id="success_notification" class="alert-success"></div>
        <div id="users"></div>        
        <%= yield %>
      </div>
      <%= render partial: "/layouts/right_side" %>
    </div>
  </div> 
  <br><br>
  <div class="footer">
    <p>Footer</p>
  </div> 
  <input type="hidden" value="<%= current_user.id %>" id="current_user_id" />
  <%= render partial: "/layouts/chat" %>
  <%= render partial: "/layouts/modal" %>
  <%= render partial: "/layouts/contact" %>
</body>
</html>