<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Gprs" %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>   

  <%= javascript_include_tag "application" %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <%= link_to image_tag("/assets/logo.png"), root_path , class: "navbar-brand logo" %>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Register", signup_path %></li>
        </ul>             
      </div>
    </div>
  </nav>

  <div class="container text-center"> 
    <div class="jumbotron"></div>    
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            Good Sense of Humor
          </div>
          <div class="panel-body">
            It takes a lot of mental energy to come up with quick-witted quips that keep grins on others' faces. Those who have a good sense of humor tend to be more creative. And that's not the only cognitive benefit: One 2014 study found that laughter can also lead to a sharper short-term memory.
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            Creative Thought
          </div>
          <div class="panel-body">
            As the old saying goes, "life's better when you're laughing" -- and no one knows that more than good-humored individuals.Those who have a good sense of humor not only see the value in making others laugh, but they prioritize laughter themselves.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
